//
   User: Tovar
   Date: 4/01/13
   Time: 09:16 PM

form.form-horizontal(name="form")
    fieldset
        legend Nuevo adeudo

        .control-group
            label.control-label(for="inputDetails") Detalles
            .controls
                input#details.xlarge(type="text", size="30", name="details",ng-model='formDebt.detail',required)

        .control-group
            label.control-label(for="inputPatient") Deudor
            .controls
                select#patientId(name="patient",ng-model='formDebt.patientId',required)
                    option(ng-repeat='patient in patients', value='{{patient._id}}') {{patient.firstname}} {{patient.lastname}}
                //p.help-block Persona a deber

        //pre
            |{{formDebt.patient}}
            |Fecha = {{dateNow | date:'dd/MM/yyyy'}}
        .control-group
            label.control-label(for="date") Concepto de cobro:
            .controls
                input#itemId.xlarge(type="text", size="30", name="date",ng-model='formDebt.itemId', required)
                p.help-block
                    |Lo que sea, de mientras que esta el modulo de citas


        .control-group
            label.control-label(for="date") Fecha
            .controls
                input#date.xlarge(type="date", size="30", name="date",ng-model='formDebt.date', required)


        .control-group
            label.control-label(for="inputAmount") Monto
            .controls
                .input-prepend
                    span.add-on
                        |$
                    input#total.xlarge(type="number", size="30", name="total",ng-model='formDebt.total',required)

        div(class="alert alert-error", ng-show='upZero')
            button(type="button", class="close", data-dismiss="alert")
                &times;
            |El monto debe de ser mayor a cero.


        .control-group
            .controls
                button(class="btn-success", ng-click='submitDebt()') Agregar
//Para  ver estado de los datos
//pre
    |Formulario = {{formDebt | json}}
    |valido? = {{form.$valid}}