//
   Created with JetBrains WebStorm.
   User: Alex64
   Date: 8/11/12
   Time: 10:01 PM
   To change this template use File | Settings | File Templates.
form.form-horizontal(name="form")
    fieldset
        legend Agregar nuevo paciente
        legend Datod personales
        .control-group
            label.control-label(for="inputPatientame") Nombre del paciente
            .controls
                .input-prepend
                    input#firstname.xlarge(type="text", size="30", name="patientName",ng-model='form.firstname',required)
        .control-group
            label.control-label(for="inputPatientlastname") Apellido del paciente
            .controls
                .input-prepend
                    input#lastname.xlarge(type="text", size="30", name="patientLastname",ng-model='form.lastname',required)
        .control-group
            label.control-label(for="inputPatientbirthdate") Fecha de nacimiento
            .controls
                .input-prepend
                    span.add-on
                        i.icon-calendar
                    input#date.xlarge(type="date", name="patientBirth",ng-model='form.birthdate',required)
        legend  Datos de contacto
        .control-group
            label.control-label(for="inputPatientemail") Email
            .controls
                .input-prepend
                    span.add-on
                        i.icon-envelope
                    input#email.xlarge(type="email",size="30",name="patientEmail",ng-model='form.email',required)
        .control-group
            label.control-label(for="inputPatienttel") Teléfono
            .controls
                .input-prepend
                    input#phone.xlarge(type="tel",,size="30",name="patientPhone",ng-model='form.phone',required,ui-tel)
        .control-group
            label.control-label(for="inputPatientaddress") Dirección
            .controls
                .input-prepend
                    input#address.xlarge(type="text",size="30",name="addressPatient",ng-model='form.address',required)
        legend Notas
        .control-group
            label.control-label(for="inputPatientnotes") Notas
            .controls
                .input-prepend
                    input#noteDetail.xlarge(type="text",size="50",name="notedetailPatient",ng-model='form.note.detail')
                .input-prepend
                    input#noteDate.xlarge(type="text",size="50",name="notedatePatient",ng-model='form.note.date')
                        i.icon-calendar
        .control-group
            .controls
                button(type="submit", class="btn-success", ng-click='submitPatient()') Agregar &nbsp;
                button(class="btn-warning",onclick="location.href='#/indexPatient'") Cancelar
        //table#notePatient
                            tr
                                th Detalles
                                th Fecha
                            tr#noteContent
                                td
                                    input#details.xlarge(type="text",size="30",name="detailNotePatient")
                                td
                                    input#date.xlarge(type="date",name="dateNotePatient")
style(type="text/css")
    .form-horizontal input.ng-invalid.ng-dirty {
        background-color: #FA787E;
    }

    .form-horizontal input.ng-valid.ng-dirty {
        background-color: #a3c9fa;
    }