form.form-horizontal(name="form")
    fieldset
        legend Nuevo usuario

        .control-group
            label.control-label(for="username") Nombre de usuario
            .controls
                .input-prepend
                    span.add-on
                        i.icon-user
                    input#username.xlarge(type="text", size="30", name="username",ng-model='formUser.username',required)
                p.help-block Nombre con el que aparecera en el sistema

        .control-group
            label.control-label(for="inputTitle") Puesto
            .controls
                label
                    input(type="radio", name="roles", id="secretary", value="secretary", ng-model='formUser.roles', checked, required)
                    |&nbsp;Secretaria
                label
                    input(type="radio", name="roles", id="doctor", value="doctor", ng-model='formUser.roles')
                    |&nbsp;Doctor
                label
                    input(type="radio", name="roles", id="admin", value="administrator", ng-model='formUser.roles')
                    |&nbsp;Administrador
                p.help-block Ocupación en el consultorio

        .control-group
            label.control-label(for="inputPassword") Contraseña
            .controls
                input#password.xlarge(type="password", size="30", name="password",ng-model='formUser.password',required)
                p.help-block Contraseña para entrar al sistema

        .control-group
            label.control-label(for="inputPassword") Confirmar contraseña
            .controls
                input#password.xlarge(type="password", size="30", name="confirmPassword",ng-model='confirmPassword',required,ui-validate-equals="formUser.password")

        div(class="alert alert-error", ng-show='form.confirmPassword.$error.equal')
            button(type="button", class="close", data-dismiss="alert")
                &times;
            |Contraseñas no coinciden

        .control-group
            label.control-label(for="inputFirstName") Nombres
            .controls
                input#firstname.xlarge(type="text", size="30", name="firstname",ng-model='formUser.firstname',required)
                //span.help-block Nombre con el que aparecera en el sistema

        .control-group
            label.control-label(for="inputLastName") Apellidos
            .controls
                input#lastname.xlarge(type="text", size="30", name="lastname",ng-model='formUser.lastname',required)

        .control-group
            label.control-label(for="inputBirth") Fecha de nacimiento
            .controls
                .input-prepend
                    span.add-on
                        i.icon-calendar
                    input#birthdate.xlarge(type="date", size="30", name="birth",ng-model='formUser.birthdate',required)

        //ENCONTRAR FORMA DE PODER AGREGAR TELEFONOS EN FORMA DE LISTA, O PONERLOS COMO NO REQUIRED...
        .control-group
            label.control-label(for="inputTel") Telefono
            .controls
                //.btn(ng-click="add()") Agregar
                //div(class="", ng-repeat="tel in tels")
                    button(type="button",class="btn btn-link", data-dismiss="alert",ng-click="remove(tel)")
                        &times;
                    input#phone.xlarge(type="tel", size="30", name="tel",ng-model='tel.format',required, ui-tel)

                //pre
                    |formUser.phone = {{formUser.phone | json}}
                    |tel = {{tels | json}}

                ul.unstyled
                    li
                        input#phone.xlarge(type="tel", size="30", name="tel",ng-model='formUser.phone',required, ui-tel)




        //QUIZAS SEA BUENO PONER ESTO OPCIONAL...
        .control-group
            label.control-label(for="inputMail") email
            .controls
                .input-prepend
                    span.add-on
                        i.icon-envelope
                    input#email.xlarge(type="email", size="30", name="email",ng-model='formUser.email',required)


        .control-group
            label.control-label(for="inputMail") Hora de entrada
            .controls
                input#start.xlarge(type="number", size="30", name="start",ng-model='formUser.schedule.start',required)
                p.help-block Número desde 0 a 23 (Horas)

        div(class="alert alert-error", ng-show='start')
            button(type="button", class="close", data-dismiss="alert")
                &times;
            |Por favor ingresa un número desde 0 a 23

        .control-group
            label.control-label(for="inputMail") Hora de salida
            .controls
                input#end.xlarge(type="number", size="30", name="end",ng-model='formUser.schedule.end',required)
                p.help-block Número desde 0 a 23 (Horas)

        div(class="alert alert-error", ng-show='end')
            button(type="button", class="close", data-dismiss="alert")
                &times;
            |Por favor ingresa un número desde 0 a 23

        div(class="alert alert-error", ng-show='relStartEnd')
            button(type="button", class="close", data-dismiss="alert")
                &times;
            |La hora de salida debe ser mayor que la de entrada

        .control-group
            .controls
                button(class="btn-success", ng-click='submitUser()') Agregar
                //,ng-disabled="form.$invalid || isUnchanged(formUser)"
                button(class="btn-warning",onclick="location.href='#/indexUser'") Cancelar
//Para  ver estado de los datos
//pre
    |form = {{formUser | json}}
    |{{formUser.schedule.start | date:'H'}}
//    |Invalido? = {{form.$invalid}}


style(type="text/css")
    .form-horizontal input.ng-invalid.ng-dirty {
        background-color: #FA787E;
    }

    .form-horizontal input.ng-valid.ng-dirty {
        background-color: #a3c9fa;
    }

    /*li.ui-cosa {*/
        /*transition: all 0.5s ease;*/
        /*-o-transition: all 0.5s ease;*/
        /*-moz-transition: all 0.5s ease;*/
        /*-webkit-transition: all 0.5s ease;*/
        /*background: lightblue;*/
        /*max-height: 50px; *//* 1000px works too */
        /*overflow: hidden;*/
        /*padding: 5px;*/
        /*}*/
        /* The 'hidden' state to transition from & to */
    /*li.ui-animate {*/
        /*opacity: 0;*/
        /*max-height: 0;*/
        /*padding: 0 5px;*/
    /*}*/