//
   Created with JetBrains WebStorm.
   User: Alex64
   Date: 5/01/13
   Time: 09:45 PM
   To change this template use File | Settings | File Templates.

form.form-horizontal
        legend Seguro que desea eliminar la cita
        .control-group
            input.btn.primary(type="button",value="Eliminar",ng-click='deleteAppoint(app._id);dismiss();')&nbsp;
            input.btn.primary(type="button" ,class="btn",value="Cancelar", ng-click="dismiss()")