//
   Created with JetBrains WebStorm.
   User: Alex64
   Date: 11/11/12
   Time: 04:47 PM
   To change this template use File | Settings | File Templates.
form.form-horizontal
        legend Seguro que desea eliminar al paciente {{patient.firstname}} Aleg {{patient._id}}
        .control-group
            input.btn.primary(type="button",value="Eliminar",ng-click='deletePatient(patient._id)')&nbsp;
            input.btn.primary(type="button" ,class="btn",value="Cancelar", ng-click="dismiss()")