form.form-horizontal
        legend Seguro que desea eliminar al usuario {{user.username}}
        .control-group
            input.btn.primary(type="button",value="Eliminar",ng-click='deleteUser(user._id);dismiss();')&nbsp;
            input.btn.primary(type="button" ,class="btn",value="Cancelar", ng-click="dismiss()")