.hero-unit.clearfix
    p
        h1 Bienvenido



//pre
        |Usuarios: {{users.length}}
        |Pacientes: {{patients.length}}
        |Login = {{login}}



//style(type="text/css")
//    ul {
//        transition: all 0.5s ease;
//        -o-transition: all 0.5s ease;
//        -moz-transition: all 0.5s ease;
//        -webkit-transition: all 0.5s ease;
//        /*background: lightblue;*/
//        /*max-height: 50px; *//* 1000px works too */
//        overflow: hidden;
//        padding: 5px;
//    }
//        /* The 'hidden' state to transition from & to */
//    ul.ui-animate {
//        opacity: 0;
//        max-height: 0;
//        padding: 0 5px;
//    }