//
   Created with JetBrains WebStorm.
   User: Tovar
   Date: 4/01/13
   Time: 08:15 PM
   To change this template use File | Settings | File Templates.

.row-fluid
    legend
        h1 Pagos
.row-fluid
    .span2.offset7
        a(class="btn-warning btn-large", href='#/addDebt')
            i(class="icon-plus icon-white")
            |&nbsp; Adeudo

    .span2.offset1
        a(class="btn-success btn-large", href='#/addPayment')
            i(class="icon-plus icon-white")
            |&nbsp; Pago


//Busqueda simple
.row
    .input-prepend(ng-hide='avanzada')
        span.add-on
            i.icon-search
        input(type="text",class="input-xlarge",ng-model="query", placeholder="Buscar" )

//Busqueda avanzada
.row
    .input-prepend(ng-hide='simple')
        span.add-on
            i.icon-search
        input(type="text",class="input-xlarge",ng-model="query.patient", placeholder="Paciente")
.row
    .input-prepend(ng-hide='simple')
        span.add-on
            i.icon-search
        input(type="text",class="input-xlarge",ng-model="query.details", placeholder="Detalle")
.row
    .input-prepend(ng-hide='simple')
        span.add-on
            i.icon-search
        input(type="text",class="input-xlarge",ng-model="query.date", placeholder="Fecha")

    button(class="btn btn-info",ng-click='avanzadaFncn()',ng-hide='avanzada') B&#250;squeda avanzada
    button(class="btn btn-info",ng-click='simpleFncn()',ng-hide='simple') B&#250;squeda simple


    .control-group
        .controls
            label
                input(type="checkbox", ng-model="showFlag", ng-click="show()", name="radios")
                |&nbsp;Mostrar solo pacientes con adeudo

//.row
    pre
        |{{showFlag}}

br
.row-fluid
    table#tableUser(class="table table-hover", cellpaddin="0", cellspacing="0")
        thead
            th
                strong Paciente
            th
                strong Balance
            //th
                strong Detalles



        tbody
            tr(ng-repeat='patient in patients | filter:query', class='{{patient.style}}', ng-show="patient.show")
                td
                    b {{patient.firstname}} {{patient.lastname}}

                td
                    |$ {{patient.balance}}
                td
                    a(class="btn btn-info", href="#/detailAccount/{{patient._id}}")
                        i(class="icon-eye-open icon-white")

.row-fluid
    .span3
        table.table
            tr.error
                td Paciente con adeudo
            tr.success
                td Pacienteal corriente
//pre
    |{{patients | json}}
