h3 Cantidad de pacientes: {{patients.length}}
div(ng-repeat='patient in patients')
    h3 {{patient.lastname}} Ap
    h3 {{patient.firstname}} Nom
    h3 {{patient.phone}} Tel
    h3 {{patient.email}} Email
    h3 {{patient.birthdate}} Naciemiento
a(href='/addPatient') Nada
|nada