.row
    legend
        h1 Paciente
.row-fluid
    .span10
        p.muted
            |Cantidad de pacientes: {{patients.length}}
    .span2
        br
        a(class="btn-success btn-large", href='#/addPatient')
            i(class="icon-plus icon-white")
            |&nbsp; Nuevo

//Busqueda simple
.row
    .input-prepend(ng-hide='avanzada')
        span.add-on
            i.icon-search
        input(type="text",class="input-xlarge",ng-model="query", placeholder="Buscar" )

//Busqueda avanzada
.row
    .input-prepend(ng-hide='simple')
        span.add-on
            i.icon-search
        input(type="text",class="input-xlarge",ng-model="query.firstname", placeholder="Nombre")
.row
    .input-prepend(ng-hide='simple')
        span.add-on
            i.icon-search
        input(type="text",class="input-xlarge",ng-model="query.lastname", placeholder="Apellido")
.row
    .input-prepend(ng-hide='simple')
        span.add-on
            i.icon-search
        input(type="text",class="input-xlarge",ng-model="query.phone", placeholder="Telefono")
.row
    .input-prepend(ng-hide='simple')
        span.add-on
            i.icon-search
        input(type="text",class="input-xlarge",ng-model="query.email", placeholder="Email")
.row
    .input-prepend(ng-hide='simple')
        span.add-on
            i.icon-search
        input(type="text",class="input-xlarge",ng-model="query.birthdate", placeholder="Fecha de nacimiento")

    button(class="btn btn-info",ng-click='avanzadaFncn()',ng-hide='avanzada') B&#250;squeda avanzada
    button(class="btn",ng-click='simpleFncn()',ng-hide='simple') B&#250;squeda simple

br
.row-fluid
    table#tablePatient(class="table table-hover", cellpaddin="0", cellspacing="0")
        thead
            th
                strong Nombre
            th
                strong Apellido
            th
                strong Telefono
            th
                strong Email
            th
                strong Nacimiento
            tr
        tbody(ng-repeat='patient in patients | filter:query')
            tr
                td {{patient.firstname}}
                td {{patient.lastname}}
                td {{patient.phone}}
                td {{patient.email}}
                td {{patient.birthdate}}
                td
                    a(class="btn btn-warning", href="#/modifyPatient/{{patient._id}}")
                        i(class="icon-pencil icon-white")
                td
                    a(class="btn btn-danger",bs-popover="/partials/deletePatient",data-title="{{patient.firstname}} {{patient.lastname}}",data-placement="left")
                        i(class="icon-remove-circle icon-white")