.page-header
    h1 Inicio 


    //pre
        |Usuarios: {{users.length}}
        |Pacientes: {{patients.length}}
        |Login = {{login}}
.row
    .span3
        h3 Tareas Comunes
        a.btn.btn-block.btn-info(href="/#/addAppointment") Añadir Cita
        a.btn.btn-block.btn-info(href="/#/addPayment") Registrar Pago
        a.btn.btn-block.btn-info(href="/#/addDebt") Registrar Cargo
    .offset1.span8
        h3 Citas para hoy
        table.table
            thead
                tr
                    th Hora
                    th Paciente
            tbody
                tr
                    td 10:30
                    td Edgar Romo
                
.row
    .page-header
        h3 Estadisticas
    .span4.graph-container
        h5 Pagos
    .span4.graph-container
        h5 Cargos
    .span4.graph-container
        h5 Total de Citas
           



//style(type="text/css")
//    ul {
//        transition: all 0.5s ease;
//        -o-transition: all 0.5s ease;
//        -moz-transition: all 0.5s ease;
//        -webkit-transition: all 0.5s ease;
//        /*background: lightblue;*/
//        /*max-height: 50px; *//* 1000px works too */
//        overflow: hidden;
//        padding: 5px;
//    }
//        /* The 'hidden' state to transition from & to */
//    ul.ui-animate {
//        opacity: 0;
//        max-height: 0;
//        padding: 0 5px;
//    }