p Desplegar información general sobre los usuarios como pagina de inicio, a discutir.

p Creo necesario la consulta como inicial, elimiado y modificacion y agregar aparte, lo mismo para las demas vistas.

p Trabajo en ello...

p Se supone que lo de la derecha cambiara para cada modulo según corresponda