//
   Created with JetBrains WebStorm.
   User: Alex64
   Date: 6/11/12
   Time: 05:06 PM
   To change this template use File | Settings | File Templates.

p Cantidad de usuarios: {{users.length}}
div(ng-repeat='user in users')
    h3 {{user.username}} User
    h3 {{user.lastname}} Ap
    h3 {{user.firstname}} Nom