//
   Created with JetBrains WebStorm.
   User: Alex64
   Date: 5/01/13
   Time: 04:14 PM
   To change this template use File | Settings | File Templates.

form.form-horizontal(name="form")
    fieldset
        legend Modificar cita
        .control-group
            label.control-label(for="inputDoctor") Doctor
            .controls
                label {{form.nameDoc}}
            .controls
                select(name="appointDoctor",ng-model='form2.DoctorId')
                    option(ng-repeat='doctor in doctors', value='{{doctor._id}}') {{doctor.firstname}} {{doctor.lastname}}
        .control-group
            label.control-label(for="inputPatient") Paciente
            .controls
                label {{form.namePat}}
            .controls
                select(name="appointPatient",ng-model='form2.PatientId')
                    option(ng-repeat='patient in patients',selected="selected", value='{{patient._id}}') {{patient.firstname}} {{patient.lastname}}
        .control-group
            label.control-label(for="inputDate") Fecha
            .controls
                label {{form.date}}
            .controls
                input#date.xlarge(type="date", size="30", name="appointDate",ng-model='form2.date')
        .control-group
            label.control-label(for="inputHour") Hora
            .controls
                //label {{form.freeTime}}
            .controls
                select(ng-click='obtainFree(form.DoctorId,form.date)',name="appointHours",ng-model='form2.freeTime')
                    option(ng-repeat='fe in fechasBien', value='{{free}}') {{fe}}
        .control-group
            label.control-label(for="inputService") Servicio
            .controls
                label {{form.service}}
            .controls
                input#service.xlarge(type="text",size="30",name="appointService",ng-model='form2.service')
        .control-group
            label.control-label(for="inputNote") Nota
            .controls
                label {{form.notes}}
            .controls
                input#service.xlarge(height="100",type="text",size="50",name="appointNote",ng-model='form2.notes')
        .control-group
            .controls
                button(class="btn-success", ng-click='modifyAppoint()') Agregar
                button(class="btn-warning",onclick="location.href='#/indexAppointment'") Cancelar
//Para  ver estado de los datos
//pre



style(type="text/css")
    .form-horizontal input.ng-invalid.ng-dirty {
        background-color: #FA787E;
    }

    .form-horizontal input.ng-valid.ng-dirty {
        background-color: #a3c9fa;
    }