//
   Created with JetBrains WebStorm.
   User: Alex64
   Date: 5/01/13
   Time: 04:14 PM
   To change this template use File | Settings | File Templates.

form.form-horizontal(name="form")
    fieldset
        legend Modificar cita
        .control-group
            label.control-label(for="inputService") Servicio
            .controls
                label {{form.service}}
            .controls
                input#service.xlarge(type="text",size="30",name="appointService",ng-model='form2.service')
        .control-group
            label.control-label(for="inputNote") Nota
            .controls
                label {{form.notes}}
            .controls
                input#service.xlarge(height="100",type="text",size="50",name="appointNote",ng-model='form2.notes')
        .control-group
            .controls
                button(class="btn-success", ng-click='modifyAppoint()') Agregar
                button(class="btn-warning",onclick="location.href='#/indexAppointment'") Cancelar
//Para  ver estado de los datos
//pre



style(type="text/css")
    .form-horizontal input.ng-invalid.ng-dirty {
        background-color: #FA787E;
    }

    .form-horizontal input.ng-valid.ng-dirty {
        background-color: #a3c9fa;
    }