doctype 5
html(ng-app="Consultorio")
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Consultorio Medico
    link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/lib/bootstrap/js/bootstrap.min.js')
    link(rel='stylesheet', href='/lib/bootstrap/js/bootstrap.js')
    link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap-responsive.css')
    script(src='/lib/angular/angular.js')
    script(src='/javascripts/app.js')
    script(src='/javascripts/controllers.js')
    script(src='javascripts/services.js')
    script(src='javascripts/filters.js')
    script(src='javascripts/directives.js')
    body(style='padding-top:50px;padding-left:50px')
        div.container-fluid
            div.row-fluid
                div.span5
                    block contenido
                    .navbar.navbar-fixed-top.navbar-inverse#barra
                        .brand
                            a(href='/') Consultorio medico
                        .navbar-inner
                            ul.nav
                                li.divider-vertical
                                li#Usuarios
                                    a(href='/indexUser') Usuarios
                                li.divider-vertical
                                li#Pacientes
                                    a(href='/indexPatient') Pacientes
                                li.divider-vertical
                                li#Citas
                                    a(href='#o_o') Citas
                                li.divider-vertical
                                li#Pagos
                                    a(href='#u_u') Pagos
    footer
        block foot
            p &copy; 2012 RoflDog Studios