doctype 5
html
    head
        meta(content="width=device-width, initial-scale=1.0")
        title Consultorio Medico
        link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap.css')
        link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap-responsive.css')
        link(rel='stylesheet/less',href='/stylesheets/app.less')
        script(type="text/javascript",src='/lib/jquery/jquery.js')
        //Seguir investigando por que no funciona...
        script(type="text/javascript",src='/lib/validate.js')
        //
        script(type="text/javascript",src='lib/angular/angular.min.js')
        script(type="text/javascript",src='lib/bootstrap/js/bootstrap.min.js')
        script(type="text/javascript",src='lib/jquery/underscore.js')
        script(type="text/javascript",src='lib/jquery/less-1.3.0.min.js')
    body
        .navbar.navbar-fixed-top.navbar-inverse#barra
            .brand Consultorio
            .navbar-inner
        .row-fluid
            - if (error)
                .alert.alert-error
                    button(type='button' , class='close' , data-dismiss='alert')
                        strong ¡Error!
                        |   Usuario o Contraseña Incorrectos
        .container
            form.form-horizontal( name='auth', method='post', action='/login')
                legend Necesitas Iniciar Sesión
                    .control-group
                        label.control-label(for='username') Usuario
                        .controls
                            input(type='text' , name='username', id = 'username', placeholder='Nombre de Usuario' , data-ideal='required username')
                    .control-group
                        label.control-label(for='password') Contraseña
                        .controls
                            input(type='password' , name='password', id = 'password', placeholder='Contraseña' , data-ideal='required password')
                    .control-group
                        .controls
                            input.btn.btn-primary(type='submit', value='Iniciar Sesión')