extends layout

block content
	h1= title
	p Bienvenidos al consultorio chingonsote
	article.row
			.span14
				h2 Lista de usuarios
				- if (error)
					p Existio un error al conectar en base de datos
				- if (users.length)
					h3 Existen los siguientes usuarios
						table.zebra-striped
							thead
								tr
									th Nombre
									th Apellidos
									th Rol
							tbody
							- users.forEach(function(user){
								tr
									td=user['firstname']
									td=user['lastname']
									td=user['roles']
									td
										a(href='/editUser?id=' + user['_id']) Editar
									td
										a(href='/removeUser?id=' + user['_id']) Eliminar
							-})
				- else
					p No hay usuarios
				a(href='/addUser') Agregar usuarios